src/main/java/net/minecraft/*
src/main/java/com/jredfox/SkinCaps/*
src/main/java/purejava/Main.java
src.rar
src/main/java/net/minecraftforge/client/GuiIngameForge.java
/src/main/java/com/mojang/authlib/yggdrasil
src/main/java/com/evilnotch/lib/main/PureJava.java
src/main/java/com/mojang/authlib/minecraft/MinecraftProfileTexture.java
src/main/java/goblinbob/mobends/standard/client/renderer/entity/layers/LayerCustomCape.java
src/main/java/com/evilnotch/lib/main/Test.java
